
.main {
  display: grid;
  max-width: 100%;
  position: relative;
  grid-template-areas: "header header"
                       "left right"
                       "review review"
                       "footer footer";
  grid-template-rows: 110px 1100px 250px 150px;
  grid-template-columns: 50% 50%;
  background-color: #3E4454;
}

.container {
  min-width: 500px;
  margin: auto;
}

h1, h2, p, a {
  font-family: Avenir;
  font-style: normal;
}

header {
  background-color: #DEE7FF;
  grid-area: header;
  left: 0px;
  top: 0px;
}

.nav-bar {
  margin-left: 20%;
  overflow: hidden;
}

.nav-bar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.nav-bar a.active {
  color: #09339E;
}

.nav-bar a:hover {
  color: #446DFF;
}

#header-logo {
  position: absolute;
  left: 2%;
  top: .75%;
}

#header-search {
  position: absolute;
  left: 63%;
  top: 2%;
}

#header-user {
  position: absolute;
  left: 85%;
  top: 2%;
}

#header-cart {
  position: absolute;
  left: 90%;
  top: 2%;
}

.left {
  background-color: #FBFCFF;
  grid-area: left;
}

.product-img {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right {
  background-color: #FBFCFF;
  grid-area: right;
}

#product-title-info {
  height:200px;
  width: 333.3px;
}

#product-customization-info {
  height:325px;
  width: 500px;
}

#product-description-info {
  margin-left: 50px;
}

#add-to-cart {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.review {
  border-top: 3px solid black;
  background-color: #FBFCFF;
  grid-area: review;
}

.customer-reviews-img {
  margin-top: 25px;
  margin-left: 50px;
}

footer {
  background-color: #3E4454;
  color: white;
  grid-area: footer;
}

.footer-nav-options {
  margin-left: 10%;
  overflow: hidden;
}

.footer-nav-options a{
  text-decoration: none;
  margin-left: 15px;
  color: white;
}

.footer-shop {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-customer-service {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-muddy-paws {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-back-to-top {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}
