
.main {
  display: grid;
  max-width: 100%;
  position: relative;
  grid-template-areas: "header header"
                       "left right"
                       "footer footer";
  grid-template-rows: 110px 1200px 150px;
  grid-template-columns: 20% 80%;
  background-color: #3E4454;
}

.container {
  min-width: 500px;
  margin: auto;
}

h1, h2, p, a {
  font-family: Avenir;
  font-style: normal;
}

header {
  background-color: #DEE7FF;
  grid-area: header;
  left: 0px;
  top: 0px;
}

.nav-bar {
  margin-left: 20%;
  overflow: hidden;
}

.nav-bar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.nav-bar a.active {
  color: #09339E;
}

.nav-bar a:hover {
  color: #446DFF;
}

#header-logo {
  position: absolute;
  left: 2%;
  top: .75%;
}

#header-search {
  position: absolute;
  left: 63%;
  top: 2%;
}

#header-user {
  position: absolute;
  left: 85%;
  top: 2%;
}

#header-cart {
  position: absolute;
  left: 90%;
  top: 2%;
}

.left {
  background-color: #FBFCFF;
  grid-area: left;
  border-right: 5px solid black;
}

#filter
{
  margin-top: 15px;
  margin-left: 10px;
}

.filter_options
{
  padding: 5px;
  margin-left: 20px;
}

#sort
{
  margin-top: 15px;
  margin-left: 10px;
}

.sort_options
{
  padding: 5px;
  margin-left: 20px;
}

.right {
  background-color: #FBFCFF;
  grid-area: right;
}

.product-box-1 {
  position: absolute;
  width: 400px;
  height: 475px;
  left: 300px;
  top: 200px;
  background: #FBFCFF;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  text-align: left;
}

.product-box-2 {
  position: absolute;
  width: 400px;
  height: 475px;
  left: 800px;
  top: 200px;
  background: #FBFCFF;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.product-box-3 {
  position: absolute;
  width: 400px;
  height: 475px;
  left: 300px;
  top: 800px;
  background: #FBFCFF;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

footer {
  background-color: #3E4454;
  color: white;
  grid-area: footer;
}

.footer-nav-options {
  margin-left: 10%;
  overflow: hidden;
}

.footer-nav-options a{
  text-decoration: none;
  margin-left: 15px;
  color: white;
}

.footer-shop {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-customer-service {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-muddy-paws {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}
