/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Avenir;
  font-style: normal;
}

/* ------------------------------ */
.header {
  background-color: #DEE7FF;
  left: 0px;
  top: 0px;
}

.nav-bar {
  margin-left: 20%;
  overflow: hidden;
}

.nav-bar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.nav-bar a.active {
  color: #09339E;
}

.nav-bar a:hover {
  color: #446DFF;
}

#header-logo {
  position: absolute;
  left: 20px;
  top: 10px;
}

#header-search {
  position: absolute;
  left: 63%;
  top: 30px;
}

#header-user {
  position: absolute;
  left: 85%;
  top: 30px;
}

#header-cart {
  position: absolute;
  left: 90%;
  top: 30px;
}

.footer {
  background-color: #3E4454;
  color: white;
  height: 150px;
}

.footer-nav-options {
  margin-left: 10%;
  overflow: hidden;
}

.footer-nav-options a{
  text-decoration: none;
  margin-left: 15px;
  color: white;
}

.footer-shop {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-customer-service {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-muddy-paws {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}

.footer-back-to-top {
  margin-left: 10%;
  float: left;
  display: block;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
}
/* -------------- */

/* Container for flexboxes */
.row {
  display: flex;
}

/* Columns */
.left-column {
  padding-left: 20px;
  left: 50px;
  flex: 1;
}

.right-column {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 50px;
  right: 50px;
  flex: 1;
}

/* Left Column */

#product-img {
  left: 0;
  top: 0;
  padding-bottom: 30px;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  margin-bottom: 15px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choice div {
  display: flex;
}

.color-choice input[type=radio] {
  display: none;
}

.color-choice input[type=radio] + label {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choice input[type=radio] + label {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choice input[type=radio]#strawberry + label {
  background-color: #E62C3C;
}
.color-choice input[type=radio]#blackberry + label {
  background-color: #7D2685;
}
.color-choice input[type=radio]#crazyberry + label {
  background-color: #5FBCFF;
}
.color-choice input[type=radio]#fireOrange + label {
  background-color: #FF7A00;
}

.color-choice input[type=&amp;quot;radio&amp;quot;]:checked + label {
  background-color:green;
}

/* crumb trail */
ul.crumb-trail {
  padding: 10px 16px;
  list-style: none;
}
ul.crumb-trail li {
  display: inline;
  font-size: 18px;
}
ul.crumb-trail li+li:before {
  padding: 8px;
  color: black;
  content: "-\00a0";
}
ul.crumb-trail li a {
  color: black;
  text-decoration: none;
}
ul.crumb-trail li a:hover {
  color: #446DFF;
}

/* Cable Configuration */
.size-choice {
  margin-bottom: 10px;
}

.size-choice button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.size-choice button:hover,
.size-choice button:active,
.size-choice button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: &amp;quot;?&amp;quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
